<div class="container">
    <div class="details">
        <form [formGroup]="formgroup">
            Email : <input type="text" name="email"   formControlName="email" >
           <input-validation [control]="formgroup.controls.email" [showErrorsWhen]="isSubmitted"></input-validation>
            <br><br>
            Password : <input type="password" name="password" formControlName="password"  >
            <input-validation [control]="formgroup.controls.password" [showErrorsWhen]="isSubmitted"></input-validation>
            <br><br>
           <button (click)="show()">Submit</button>
          <div class="register">
              New user? &nbsp;
              <a routerLink="register" >
                  Register here
              </a>
          </div>
      </form>
    </div>
  </div>
  